.slider {
    position: relative;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .slide {
    display: none;
  }
  
  .slide.active {
    display: block;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  /* .text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
   */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  .prev {
    left: 0;
    border-radius: 0 5px 5px 0;
    color: #ff7f50;
    background-color: transparent;
  }
  
  .next {
    right: 0;
    border-radius: 5px 0 0 5px;
    color: #ff7f50;
    background-color: transparent;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .indicators {
    height: 20px;
    width: 100px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    color: blue;
  }
  
  .indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .indicator.active {
    background-color: red;
  }
  