.movie {
  width: 250px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  background-color: #fff;
  
}

.movie:hover {
  transform: translateY(-5px);
}

.movie > img {
  width: 100%;
  height: 275px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.movie > .details {
  padding: 15px;
}

.movie > .details > h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.movie > .details > p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

.movie > .details > a > .CardBtn {
  width: 100%;
  padding: 8px 0;
  background: linear-gradient(to right, #ff7f50, #ff4c29);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.movie > .details > .CardBtn :hover {
  background-color: #ff7f6d;
}
