.ticket-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .ticket-details {
  }
  
  .detail-label {
    font-weight: bold;
    margin-right: 5px;
  }

  .inner-ticket{
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    display: flex;
  }
  
  .ticket-poster {
    width: 200px;
    margin-right: 10px;
    padding-top: 20px;
  }
  